<component name="ArtifactManager">
  <artifact type="war" name="springmvcStudy:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvcexample.war">
      <element id="artifact" artifact-name="springmvcStudy:war exploded" />
    </root>
  </artifact>
</component>